<table class="table table-hover">
  <colgroup>
    <col class="col-md-1">
    <col class="col-md-2">
    <col class="col-md-1">
    <col class="col-md-6">
    <col class="col-md-2">
  </colgroup>
  <thead>
    <tr ng-show='foundItems.length'>
      <th>#</th>
      <th>Name</th>
      <th>Short Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in foundItems | orderBy: 'short_name'">
      <th>{{$index}}</th>
      <td>{{item.name}}</td>
      <td>{{item.short_name}}</td>
      <td>{{item.description}}</td>
      <td>
        <button ng-click="action({index:$index})">
          <span class="glyphicon glyphicon-remove"></span>{{ actionMsg }}
        </button>
      </td>
    </tr>
  </tbody>
</table>
